/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    /* background-color: antiquewhite; */
    font-family: 'Poppins', sans-serif;
}
.page-centred {
    margin: auto;
    max-width: 1400px;
}

h2 {
    font-family: 'Quicksand', sans-serif; 
}

/* navbar structure */
nav {
    background-color: #A8D5E2;
    position: fixed;
    width: 100%;
    z-index: 3;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
}

nav li {
    font-size: 150%;
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #272932;
}

nav a:hover {
    color: #104911;
    background-color: #F9A620;
    border-radius: 10px 0 10px 0;
}

/* Pop out menu for repsonive view */
.dropdown-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 300px;
    width: 250px;
    background: #A8D5E2;
    border-radius: 0 0 0 50px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 2;
}

.dropdown-menu li {
    width: 100%;
}

.dropdown-menu a {
    width: 100%;
}

.menu-button {
    display: none;
}


/* why doesn't this put the logo icon to the left? */
/* #logo-icon {
    margin-right: auto;
} */

/* main logo styling */
.logo {
    height: 40px; 
    width: auto;
    /* vertical-align: middle; */
    color: #272932;
}

/* Logo position - the nav ul justify-content has to be taken out to work */
nav li:first-child {
    margin-right: auto;
    
}

/* Remove hover effect from the logo container */
nav li:first-child a:hover {
    background-color: transparent;   
}



/* section 1 - image */
.main-image {
    position: relative;
    margin-top: 0;
    padding-top: 0;
    
}
.main-image img{
    width: 100%;
    height: auto;
    margin-bottom: 80px;
    
}
/* .hero {
    display: flex;
} */

/* fixed the h2 text to go in the middle of the image */
.main-image h2 {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 10%;
    color: #FFD449;
    /* padding: 20px; */
    width: 80%;
    

}

/* call to action */

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.call-to-action div {
    
    width: 60%;
    height: 60px;
    color: white;
    background-color: #F9A620;
    border: 1 solid #272932;
    border-radius: 10px;

}

.call-to-action h3 {
    text-align: center;
    padding-top: 15px;
}

/* section 2 boxes with info */
.container {
    margin: auto;
    display: flex;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 100px;
}

/* this arranges the 3 cards in the section with flex */
.content {
 display: flex;
 width: 100%;
 justify-content: center;
 align-items: center;
 
}

.content div {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
 /* border: 1px solid #272932; */
 margin: 10px;
 padding: 20px;
 text-align: center;
 height: 100%;
}

.content h2 {
    text-transform: uppercase;
    margin: 20px 0 20px 0;
}

.one {
    flex: 1 1 auto;

}
.logo-card {
    max-width: 75px;
    justify-content: center;
    margin: 10px;

}

.two {
    flex: 1 1 auto;
    background-color: #A8D5E2;
    
}

.three {
    flex: 1 1 auto;
    background-color: #548C2F;
    
}

.content div p {
    text-align: justify;
}



/* contact details */
.bottom-info {
    width: 100%;
    height: 100%;
    background: #FFD449;
    margin-top: 50px;
    flex: 1;   
}

.contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px
}

.address {
    margin-top: 50px;
}




/* footer */
.footer-icons {
    width: 100%;
    background: #272932;
}

.footer-icons ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 20px 0;
    
}

.footer-icons ul a {
    height: 100%;
    text-decoration: none;
    /* flex-direction: row;
    justify-content: space-around; */
    font-size: 150%;
    color: #FFD449;
}

/* button for more info with pop up */

.info-button {
    padding: 10px 20px;
    background-color: #F9A620;
    color: #104911;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    /* margin-top: auto;
    align-self: center; */
  }
  
  .popup {
    visibility: hidden;
    /* display: none; */
    position: fixed;
    top: 20;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    
    
  }
  
  .popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    position: relative;
  }
  
  .close-btn {
    color: #104911;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .popup.show {
    display: block;
  }
  
  .close-btn:hover {
    color: #104911;
  }


/* screen width with hide-out and show elements */
@media(min-width: 992px) {
    .dropdown-menu {
        display: none;
    }
    /* .main-image img{
        size: fluid;
        width: 100%;
        height: auto;
        
    } */
/* this puts the image and the cards in a line without the cards going underneath */
    .main-image img {
        flex: 1;
    }

    .container {  
        flex: 1;
    }
    
}



@media(max-width: 992px) {
    .hideNavMenu {
        display: none;
    }
    .menu-button {
        display: block;
    }
    .dropdown-menu {
        display: none;
    }

    /* this arranges the 3 cards in the section with flex */
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center; 
    /* margin-top: 220px;    */
   }
   .content .one {
    margin-bottom: 40px;
   }
   .content .two {
    margin-bottom: 40px;
   }
   .content .two {
    margin-bottom: 40px;
   }

   

   /* .main-image h2 {
    position: absolute;
    text-align: center;
    color: #FFD449;
    padding: 20px;
    height: 300px;
    width: auto;

} */
.spacing {
    display: flex;
    flex-direction: column;
    
}

.call-to-action div {
    
    width: 100%;
    height: 100px;
    border-radius: 0px;
    padding-top: 30px;


}
   
}

@media(max-width: 600px) {
    .main-image h2 { 
        top: 30%;
    }
}


@media(max-width: 400px) {
    .dropdown-menu {
        width: 100%;
    }

    .main {
        height: 300px;
    }
    .main-image {
        display: none;
        
    }
    .call-to-action div {
    
        margin-top: 50px;
        
    }

    .call-to-action h3 {
    
        padding-top: 10px;
        
    
    }

    /* .main-image h2 {
        position: absolute;
        text-align: center;
        color: #FFD449;
        padding: 20px;
        width: auto;
} */

}